.bucket-card {
  border: 1px solid #ccc;
  border-radius: 8px;

  padding: 16px;
  width: 300px;

  transition: all 0.4s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    // only use hover effects on screen larger than 660px
    @media screen and (min-width: 660px) {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }
  }

  & > &-header {
    margin-bottom: 12px;

    h3 {
      font-size: 1.25em;
    }

    p {
      font-style: italic;
    }
    border-bottom: 1px solid #ccc;
  }

  & > &-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;

    button {
      flex: 1;
      cursor: pointer;
      background-color: #f0f0f0;
      border: none;
      padding: 8px;
      border-radius: 4px;

      &.active {
        background-color: #d0d0d0;
      }
    }
  }

  & > &-content {
    ul {
      list-style-type: disc;
      li {
        margin-left: 16px; // = padding of the parent
      }
    }

    table {
      width: 100%;
      & tr {
        th:nth-child(odd),
        td:nth-child(odd) {
          text-align: left;
        }
        th:nth-child(even),
        td:nth-child(even) {
          text-align: right;
        }
      }
      & thead td,
      & tfoot td {
        font-weight: 700;
      }

      & tfoot::before {
        content: "---";
      }
    }
  }

  @media screen and (max-width: 660px) {
    width: 100%;
    font-size: 0.75em;
  }
}

@media print {
  /* remove styles which are not needed in print layout */
  .bucket-card {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    &:hover {
      box-shadow: none;
    }

    & > &-tabs {
      display: none;
    }
  }
}

@media screen and (max-width: 660px) {
  .bucket-card {
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}
